
<div id="profile-container">
    <div style="display: flex; justify-content: center;" class="profile-header">
      <h1 id="profile-name">{{usuario?.toUpperCase()}}</h1>
    </div>
    <form  style="background-color: rgb(207, 207, 207); padding: 15px;"  [formGroup]="formReactive" id="profile-form">
      <div class="form-group">
        <label for="nombre">Nombre:</label>
        <input formControlName="nombre"  type="text" id="nombre" name="nombre" [(ngModel)]="nombre">
      </div>
      <div class="form-group">
        <label for="contrasena">Apellido:</label>
        <input formControlName="apellido" type="text" id="contrasena" name="contrasena" [(ngModel)]="apellido">      </div>
      <div class="form-group">
        <label for="direccion">Dirección:</label>
        <input formControlName="direccion" type="text" id="direccion" name="direccion" [(ngModel)]="direccion">
      </div>

      <div class="form-group">
        <label for="nacimiento">Telefono:</label>
        <input formControlName="telefono"   type="text" id="nacimiento"  name="nacimiento" [(ngModel)]="telefono" >
      </div>

      <div class="form-group">
        <label for="postal">Ciudad:</label>
        <input formControlName="ciudad" type="text" id="postal" name="postal" [(ngModel)]="ciudad">
      </div>

      <div class="form-group">
        <label for="postal">Correo:</label>
        <input formControlName="correo" type="email" id="postal" name="postal" [(ngModel)]="correo">
      </div>
      <div class="form-group" style="display: flex;">
        <button [disabled]="!formReactive.valid" type="submit" id="save-changes-button" (click)="guardarCambios()">Guardar cambios</button>
        <button style="background-color: black; color: white;" type="button" id="change-password-button" (click)="cambiarContrasena()">Cambiar contraseña</button>
      </div>
    </form>
  </div>
