<div style="width: 100%; height: 100vh; margin: 0; padding: 0;">
    <div (click)="mostrarCarrito()" (mouseleave)="ocultarTextoCarrito()"  ><span class="carrito-text" [ngStyle]="{display: despliegue}">VER</span></div>
    <div  class="carrito">
        <img (click)="mostrarCarrito()" (mouseenter)="desplegarTextoCarrito()"  height="50px" src="../../../assets/pagina-inicio/carro.png" >
    </div>
   <app-header [actualUser]="usuario"></app-header>
    <body>
        <div>
            <div>
                <img style="width: 100%; border-top-left-radius: 20px; border-top-right-radius: 20px; background-size:cover;" src="../../../assets/pagina-inicio/banner.png"  alt="">
            </div>
        </div>
        <div>
            <h1>BLUSAS</h1>
            <div class="contener-categoria">
                <div class="productos">
                    <div class="contenedor-producto">
                        <div class="producto" id="producto" *ngFor="let objeto of filtrarCategoria('blusas') ; index as indice" >
                            <div class="item">
                                <div (click)="verProducto(indice)">
                                    <img id="foto" [src]="objeto.image" alt="">
                                    <p>	{{objeto.title}}</p>
                                    <p class="precio">$ {{objeto.price}}</p>
                                </div>
                            </div>    
                        </div> 
                        <div class="producto" id="producto" >
                            <div class="item">
                                <div (click)="noDisponible()">
                                    <img id="foto"  alt="" id="mas">
                                    <p>	Ver Más sobre</p>
                                    <p class="precio">Blusas</p>
                                </div>
                            </div>    
                        </div>
                         
                    </div>
                </div>
            </div>

            <h1>BRAZALETES</h1>
            <div class="contener-categoria">
                <div class="productos">
                    <div class="contenedor-producto">
                        <div class="producto" id="producto" *ngFor="let objeto of filtrarCategoria('brazaletes') ; index as indice" >
                            <div class="item">
                                <div (click)="verProducto(indice)">
                                    <img id="foto" [src]="objeto.image" alt="">
                                    <p>	{{objeto.title}}</p>
                                    <p class="precio">$ {{objeto.price}}</p>
                                </div>
                            </div>    
                        </div> 
                        <div class="producto" id="producto" >
                            <div class="item">
                                <div (click)="noDisponible()">
                                    <img id="foto" alt="" id="mas">
                                    <p>	Ver Más sobre</p>
                                    <p class="precio">Brazaletes</p>
                                </div>
                            </div>    
                        </div>
                         
                    </div>
                </div>
            </div>

            <h1>FALDAS</h1>
            <div class="contener-categoria">
                <div class="productos">
                    <div class="contenedor-producto">
                        <div class="producto" id="producto" *ngFor="let objeto of filtrarCategoria('faldas') ; index as indice" >
                            <div class="item">
                                <div (click)="verProducto(indice)">
                                    <img id="foto" [src]="objeto.image" alt="">
                                    <p>	{{objeto.title}}</p>
                                    <p class="precio">$ {{objeto.price}}</p>
                                </div>
                            </div>    
                        </div> 
                        <div class="producto" id="producto" >
                            <div class="item">
                                <div (click)="noDisponible()">
                                    <img id="foto"  alt="" id="mas">
                                    <p>	Ver Más sobre</p>
                                    <p class="precio">Faldas</p>
                                </div>
                            </div>    
                        </div>
                         
                    </div>
                </div>
            </div>

            <h1>GORROS</h1>
            <div class="contener-categoria">
                <div class="productos">
                    <div class="contenedor-producto">
                        <div class="producto" id="producto" *ngFor="let objeto of filtrarCategoria('gorros') ; index as indice" >
                            <div class="item">
                                <div (click)="noDisponible()">
                                    <img id="foto" [src]="objeto.image" alt="">
                                    <p>	{{objeto.title}}</p>
                                    <p class="precio">$ {{objeto.price}}</p>
                                </div>
                            </div>    
                        </div> 
                        <div class="producto" id="producto" >
                            <div class="item">
                                <div (click)="verProducto(0)">
                                    <img id="foto"  alt="" id="mas">
                                    <p>	Ver Más sobre</p>
                                    <p class="precio">Gorros</p>
                                </div>
                            </div>    
                        </div>
                         
                    </div>
                </div>
            </div>

            <h1>SHORTS</h1>
            <div class="contener-categoria">
                <div class="productos">
                    <div class="contenedor-producto">
                        <div class="producto" id="producto" *ngFor="let objeto of filtrarCategoria('shorts') ; index as indice" >
                            <div class="item">
                                <div (click)="verProducto(indice)">
                                    <img id="foto" [src]="objeto.image" alt="">
                                    <p>	{{objeto.title}}</p>
                                    <p class="precio">$ {{objeto.price}}</p>
                                </div>
                            </div>    
                        </div> 
                        <div class="producto" id="producto" >
                            <div class="item">
                                <div (click)="noDisponible()">
                                    <img id="foto"  alt="" id="mas">
                                    <p>	Ver Más sobre</p>
                                    <p class="precio">Shorts</p>
                                </div>
                            </div>    
                        </div>
                         
                    </div>
                </div>
            </div>

            <h1>PANTALONES</h1>
            <div class="contener-categoria">
                <div class="productos">
                    <div class="contenedor-producto">
                        <div class="producto" id="producto" *ngFor="let objeto of filtrarCategoria('pantalones') ; index as indice" >
                            <div class="item">
                                <div (click)="verProducto(indice)">
                                    <img id="foto" [src]="objeto.image" alt="">
                                    <p>	{{objeto.title}}</p>
                                    <p class="precio">$ {{objeto.price}}</p>
                                </div>
                            </div>    
                        </div> 
                        <div class="producto" id="producto" >
                            <div class="item">
                                <div (click)="noDisponible()">
                                    <img id="foto"  alt="" id="mas">
                                    <p>	Ver Más sobre</p>
                                    <p class="precio">Pantalones</p>
                                </div>
                            </div>    
                        </div>
                         
                    </div>
                </div>
            </div>

            <h1>TRAJES DE BAÑO</h1>
            <div class="contener-categoria">
                <div class="productos">
                    <div class="contenedor-producto">
                        <div class="producto" id="producto" *ngFor="let objeto of filtrarCategoria('trajes') ; index as indice" >
                            <div class="item">
                                <div (click)="verProducto(indice)">
                                    <img id="foto" [src]="objeto.image" alt="">
                                    <p>	{{objeto.title}}</p>
                                    <p class="precio">$ {{objeto.price}}</p>
                                </div>
                            </div>    
                        </div> 
                        <div class="producto" id="producto" >
                            <div class="item">
                                <div (click)="noDisponible()">
                                    <img id="foto"  alt="" id="mas">
                                    <p>	Ver Más sobre</p>
                                    <p class="precio">Trajes</p>
                                </div>
                            </div>    
                        </div>
                         
                    </div>
                </div>
            </div>

            <h1>PAREOS</h1>
            <div class="contener-categoria">
                <div class="productos">
                    <div class="contenedor-producto">
                        <div class="producto" id="producto" *ngFor="let objeto of filtrarCategoria('pareos') ; index as indice" >
                            <div class="item">
                                <div (click)="verProducto(indice)">
                                    <img id="foto" [src]="objeto.image" alt="">
                                    <p>	{{objeto.title}}</p>
                                    <p class="precio">$ {{objeto.price}}</p>
                                </div>
                            </div>    
                        </div> 
                        <div class="producto" id="producto" >
                            <div class="item">
                                <div (click)="noDisponible()">
                                    <img id="foto"  alt="" id="mas">
                                    <p>	Ver Más sobre</p>
                                    <p class="precio">Pareos</p>
                                </div>
                            </div>    
                        </div>
                         
                    </div>
                </div>
            </div>

            <h1>MEDIAS</h1>
            <div class="contener-categoria">
                <div class="productos">
                    <div class="contenedor-producto">
                        <div class="producto" id="producto" *ngFor="let objeto of filtrarCategoria('medias') ; index as indice" >
                            <div class="item">
                                <div (click)="verProducto(indice)">
                                    <img id="foto" [src]="objeto.image" alt="">
                                    <p>	{{objeto.title}}</p>
                                    <p class="precio">$ {{objeto.price}}</p>
                                </div>
                            </div>    
                        </div> 
                        <div class="producto" id="producto" >
                            <div class="item">
                                <div (click)="noDisponible()">
                                    <img id="foto"  alt="" id="mas">
                                    <p>	Ver Más sobre</p>
                                    <p class="precio">Medias</p>
                                </div>
                            </div>    
                        </div>
                         
                    </div>
                </div>
            </div>

            <h1>TAPETES</h1>
            <div class="contener-categoria">
                <div class="productos">
                    <div class="contenedor-producto">
                        <div class="producto" id="producto" *ngFor="let objeto of filtrarCategoria('tapetes') ; index as indice" >
                            <div class="item">
                                <div (click)="verProducto(indice)">
                                    <img id="foto" [src]="objeto.image" alt="">
                                    <p>	{{objeto.title}}</p>
                                    <p class="precio">$ {{objeto.price}}</p>
                                </div>
                            </div>    
                        </div> 
                        <div class="producto" id="producto" >
                            <div class="item">
                                <div (click)="noDisponible()">
                                    <img id="foto"  alt="" id="mas">
                                    <p>	Ver Más sobre</p>
                                    <p class="precio">Tapetes</p>
                                </div>
                            </div>    
                        </div>
                         
                    </div>
                </div>
            </div>

            <h1>ALFOMBRAS</h1>
            <div class="contener-categoria">
                <div class="productos">
                    <div class="contenedor-producto">
                        <div class="producto" id="producto" *ngFor="let objeto of filtrarCategoria('alfombras') ; index as indice" >
                            <div class="item">
                                <div (click)="verProducto(indice)">
                                    <img id="foto" [src]="objeto.image" alt="">
                                    <p>	{{objeto.title}}</p>
                                    <p class="precio">$ {{objeto.price}}</p>
                                </div>
                            </div>    
                        </div> 
                        <div class="producto" id="producto" >
                            <div class="item">
                                <div (click)="noDisponible()">
                                    <img id="foto"  alt="" id="mas">
                                    <p>	Ver Más sobre</p>
                                    <p class="precio">Alfombras</p>
                                </div>
                            </div>    
                        </div>
                         
                    </div>
                </div>
            </div>

            <h1>COJINES</h1>
            <div class="contener-categoria">
                <div class="productos">
                    <div class="contenedor-producto">
                        <div class="producto" id="producto" *ngFor="let objeto of filtrarCategoria('cojines') ; index as indice" >
                            <div class="item">
                                <div (click)="verProducto(indice)">
                                    <img id="foto" [src]="objeto.image" alt="">
                                    <p>	{{objeto.title}}</p>
                                    <p class="precio">$ {{objeto.price}}</p>
                                </div>
                            </div>    
                        </div> 
                        <div class="producto" id="producto" >
                            <div class="item">
                                <div (click)="noDisponible()">
                                    <img id="foto"  alt="" id="mas">
                                    <p>	Ver Más sobre</p>
                                    <p class="precio">Cojines</p>
                                </div>
                            </div>    
                        </div>
                         
                    </div>
                </div>
            </div>

            <h1>COBERTORES</h1>
            <div class="contener-categoria">
                <div class="productos">
                    <div class="contenedor-producto">
                        <div class="producto" id="producto" *ngFor="let objeto of filtrarCategoria('cobertores') ; index as indice" >
                            <div class="item">
                                <div (click)="verProducto(indice)">
                                    <img id="foto" [src]="objeto.image" alt="">
                                    <p>	{{objeto.title}}</p>
                                    <p class="precio">$ {{objeto.price}}</p>
                                </div>
                            </div>    
                        </div> 
                        <div class="producto" id="producto" >
                            <div class="item">
                                <div (click)="noDisponible()">
                                    <img id="foto"  alt="" id="mas">
                                    <p>	Ver Más sobre</p>
                                    <p class="precio">Cobertores</p>
                                </div>
                            </div>    
                        </div>
                         
                    </div>
                </div>
            </div>

            <h1>ABRIGOS</h1>
            <div class="contener-categoria">
                <div class="productos">
                    <div class="contenedor-producto">
                        <div class="producto" id="producto" *ngFor="let objeto of filtrarCategoria('abrigos') ; index as indice" >
                            <div class="item">
                                <div (click)="verProducto(indice)">
                                    <img id="foto" [src]="objeto.image" alt="">
                                    <p>	{{objeto.title}}</p>
                                    <p class="precio">$ {{objeto.price}}</p>
                                </div>
                            </div>    
                        </div> 
                        <div class="producto" id="producto" >
                            <div class="item">
                                <div (click)="noDisponible()">
                                    <img id="foto"  alt="" id="mas">
                                    <p>	Ver Más sobre</p>
                                    <p class="precio">Abrigos</p>
                                </div>
                            </div>    
                        </div>
                         
                    </div>
                </div>
            </div>

            <h1>CARDIGAN</h1>
            <div class="contener-categoria">
                <div class="productos">
                    <div class="contenedor-producto">
                        <div class="producto" id="producto" *ngFor="let objeto of filtrarCategoria('cardigan') ; index as indice" >
                            <div class="item">
                                <div (click)="verProducto(indice)">
                                    <img id="foto" [src]="objeto.image" alt="">
                                    <p>	{{objeto.title}}</p>
                                    <p class="precio">$ {{objeto.price}}</p>
                                </div>
                            </div>    
                        </div> 
                        <div class="producto" id="producto" >
                            <div class="item">
                                <div (click)="noDisponible()">
                                    <img id="foto"  alt="" id="mas">
                                    <p>	Ver Más sobre</p>
                                    <p class="precio">Cardigan</p>
                                </div>
                            </div>    
                        </div>
                         
                    </div>
                </div>
            </div>

            <h1>BUFANDAS</h1>
            <div class="contener-categoria">
                <div class="productos">
                    <div class="contenedor-producto">
                        <div class="producto" id="producto" *ngFor="let objeto of filtrarCategoria('bufandas') ; index as indice" >
                            <div class="item">
                                <div (click)="verProducto(indice)">
                                    <img id="foto" [src]="objeto.image" alt="">
                                    <p>	{{objeto.title}}</p>
                                    <p class="precio">$ {{objeto.price}}</p>
                                </div>
                            </div>    
                        </div> 
                        <div class="producto" id="producto" >
                            <div class="item">
                                <div (click)="noDisponible()">
                                    <img id="foto"  alt="" id="mas">
                                    <p>	Ver Más sobre</p>
                                    <p class="precio">Bufandas</p>
                                </div>
                            </div>    
                        </div>
                         
                    </div>
                </div>
            </div>

            <h1>GUANTES</h1>
            <div class="contener-categoria">
                <div class="productos">
                    <div class="contenedor-producto">
                        <div class="producto" id="producto" *ngFor="let objeto of filtrarCategoria('guantes') ; index as indice" >
                            <div class="item">
                                <div (click)="verProducto(indice)">
                                    <img id="foto" [src]="objeto.image" alt="">
                                    <p>	{{objeto.title}}</p>
                                    <p class="precio">$ {{objeto.price}}</p>
                                </div>
                            </div>    
                        </div> 
                        <div class="producto" id="producto" >
                            <div class="item">
                                <div (click)="noDisponible()">
                                    <img id="foto"  alt="" id="mas">
                                    <p>	Ver Más sobre</p>
                                    <p class="precio">Guantes</p>
                                </div>
                            </div>    
                        </div>
                         
                    </div>
                </div>
            </div>

            <h1>ARETES</h1>
            <div class="contener-categoria">
                <div class="productos">
                    <div class="contenedor-producto">
                        <div class="producto" id="producto" *ngFor="let objeto of filtrarCategoria('aretes') ; index as indice" >
                            <div class="item">
                                <div (click)="verProducto(indice)">
                                    <img id="foto" [src]="objeto.image" alt="">
                                    <p>	{{objeto.title}}</p>
                                    <p class="precio">$ {{objeto.price}}</p>
                                </div>
                            </div>    
                        </div> 
                        <div class="producto" id="producto" >
                            <div class="item">
                                <div (click)="noDisponible()">
                                    <img id="foto"  alt="" id="mas">
                                    <p>	Ver Más sobre</p>
                                    <p class="precio">Aretes</p>
                                </div>
                            </div>    
                        </div>
                         
                    </div>
                </div>
            </div>

            <h1>TURBANTES</h1>
            <div class="contener-categoria">
                <div class="productos">
                    <div class="contenedor-producto">
                        <div class="producto" id="producto" *ngFor="let objeto of filtrarCategoria('turbantes') ; index as indice" >
                            <div class="item">
                                <div (click)="verProducto(indice)">
                                    <img id="foto" [src]="objeto.image" alt="">
                                    <p>	{{objeto.title}}</p>
                                    <p class="precio">$ {{objeto.price}}</p>
                                </div>
                            </div>    
                        </div> 
                        <div class="producto" id="producto" >
                            <div class="item">
                                <div (click)="noDisponible()">
                                    <img id="foto"  alt="" id="mas">
                                    <p>	Ver Más sobre</p>
                                    <p class="precio">Turbantes</p>
                                </div>
                            </div>    
                        </div>
                         
                    </div>
                </div>
            </div>

            <h1>BOLSOS</h1>
            <div class="contener-categoria">
                <div class="productos">
                    <div class="contenedor-producto">
                        <div class="producto" id="producto" *ngFor="let objeto of filtrarCategoria('bolsos') ; index as indice" >
                            <div class="item">
                                <div (click)="verProducto(indice)">
                                    <img id="foto" [src]="objeto.image" alt="">
                                    <p>	{{objeto.title}}</p>
                                    <p class="precio">$ {{objeto.price}}</p>
                                </div>
                            </div>    
                        </div> 
                        <div class="producto" id="producto" >
                            <div class="item">
                                <div (click)="noDisponible()">
                                    <img id="foto"  alt="" id="mas">
                                    <p>	Ver Más sobre</p>
                                    <p class="precio">Bolsos</p>
                                </div>
                            </div>    
                        </div>
                         
                    </div>
                </div>
            </div>
        </div>
        
    </body>
    <app-footer></app-footer>
</div>