<div class="subcontenedor-admin">
    <h1>Administración</h1>
    <div class="caja">
        <h1>CLIENTES</h1>

        <div style="display: flex; justify-content: center; column-gap: 10px; width: 100%">
            <button class="boton" (click)="estado('agregar')">AGREGAR</button>
            <button class="boton" (click)="estado('listar')">LISTAR</button> 
        </div>

        <div class="modulo" *ngIf="Actualstatus=='listar' ; else add">

            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> id </th>
                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>

                <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef> Titulo </th>
                    <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                </ng-container>

                <ng-container matColumnDef="apellido">
                    <th mat-header-cell *matHeaderCellDef> Precio </th>
                    <td mat-cell *matCellDef="let element"> {{element.apellido}} </td>
                </ng-container>

                <ng-container matColumnDef="cedula">
                    <th mat-header-cell *matHeaderCellDef> Imagen </th>
                    <td mat-cell *matCellDef="let element"> {{element.cedula}} </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> Acciones </th>
                    <td mat-cell *matCellDef="let element">
                        <button style="background-color: blue; color: white;" mat-raised-button color="primary"
                            (click)="editarCliente(element.id,element.nombre,element.apellido,element.cedula)">Editar</button>
                        <button style="background-color: red; color: white;" mat-raised-button color="warn"
                            (click)="eliminarCliente(element.id)">Eliminar</button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

        </div>

        <ng-template #add style="width: 100%;">
                <app-insertar-cliente></app-insertar-cliente>
        </ng-template>

    </div>
</div>