<div class="modificar-contenedor">
    <h1 style="color:red;">EDITAR PRODUCTO</h1>
    <form #formulario="ngForm" (ngSubmit)="modificarProducto()">
        <label for="titulo">titulo</label>
        <input name="titulo" type="text" placeholder="titulo" [(ngModel)]="titulo" [ngModelOptions]="{ standalone: true }"> 

        <label for="precio">precio</label>
        <input name="precio" type="number" placeholder="precio" [(ngModel)]="precio" [ngModelOptions]="{ standalone: true }">

        <label for="imagen">imagen</label>
        <input name="imagen" type="text" placeholder="imagen" [(ngModel)]="imagen" [ngModelOptions]="{ standalone: true }">

        <div>
            <img width="200" [src]="imagen" alt="">
        </div>

        <label for="descripcion">descripcion</label>
        <input name="descripcion" type="text" placeholder="descripcion" [(ngModel)]="descripcion" [ngModelOptions]="{ standalone: true }">

        <label for="categoria">categoria</label>
        <input name="categoria" type="text" placeholder="categoria" [(ngModel)]="categoria" [ngModelOptions]="{ standalone: true }">

        <button>Modificar</button>
    </form>
</div>